html, body {
	color: white;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica";
}

@font-face {
	font-family: XtreemMedium;
	src: url('/fonts/XtreemMedium_Demo.ttf');
}

.customFlashMessage {
	margin-top: 10px;
	background-color: #fff;
	color: purple;
	list-style-type: circle;
	font-weight: 200;
	font-size: 1.3em;
}

.content {
	padding-top: 40px;
	margin: 0 auto;
}

.pageHeader {
	max-width: 50% !important;
	margin: 0 auto;
	padding: 15px;
	float: none;
	border-bottom: 5px solid white;
	text-align: center;
	font-family: XtreemMedium;
}

.pageHeader h2 {
	font-size: 5em;
}

.upcoming {
	max-width: 60% !important;
	margin: 0 auto;
	float: none;
	border-bottom: 3px solid white;
	text-align: center;
}

@media (max-width: 647px) {
	.pageHeader h2 {
		font-size: 2.9em;
	}

	.upcoming h3 {
		font-size: 1.3em !important;
	}
}

.socialNetworks {
	max-width: 60% !important;
	margin: 0 auto;
	float: none;
	border-bottom: 3px solid white;
	text-align: center;
}

.socialNetworks section {
	padding-bottom: 5px;
	text-align: center;
}

.socialNetworks img {
	height: 40px;
}

.socialNetworks h3 {
	font-size: 20px;	
}

.socialNetworksList a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	margin-left: 5px;
}

.contactForm {
	max-width: 65% !important;
	margin: 0 auto;
	float: none;
	text-align: center;
}

.userData input, .userData textarea {
	border-color: white;
	background: transparent;
	color: white;
	transition : .5s ease-in;
	border-radius: 0px;
}

.userData input:hover, .userData input:focus, .userData textarea:hover, .userData textarea:focus {
	background-color: white;
	color: purple;
	transition: .5s ease-in;
	font-weight: 400;	
}

#submitButton {
	width: 100%;
	background-color: transparent;
	border-color: transparent;
	transition: .5s ease-in;
}

#submitButton:hover, #submitButton:focus {
	transition: .5s ease-in;
	background-color: white;
	color: purple;
	font-weight: 400;
}

/* Placeholder styling */

::-webkit-input-placeholder {
   color: #fff !important;
}

#email::-webkit-input-placeholder {
	text-align: center;
}

[placeholder]:focus::-webkit-input-placeholder, [placeholder]:hover::-webkit-input-placeholder {
	color: purple !important;
}

:-moz-placeholder, ::-moz-placeholder { /* Firefox 18- & Firefox 19+ */
   color: white !important;  
}

[placeholder]:focus:-moz-placeholder, [placeholder]:hover:-moz-placeholder {
	color: purple !important;
}

[placeholder]:focus::-moz-placeholder, [placeholder]:hover::-moz-placeholder {
	color: purple !important;
}

:-ms-input-placeholder {  
   color: white !important;  
}

[placeholder]:focus:-ms-input-placeholder, [placeholder]:hover:-ms-input-placeholder {
	color: purple !important;
}